.navbar-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

.navbar {
  width: 100vw;
  height: 75px;
  background-color: black;
  color: white;
}

.nav-bar {
  display: flex;
  width: 100%;
}

.nav-bar-item {
  list-style: none;
  text-decoration: none;
  margin-left: 30px;
}

.nav-bar-item-link {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.Headline {
  font-size: 35px;
}
